{% extends 'layout.html' %}

{%- block body %}

<h1>Repository management utilities</h1>

{%- for form in forms %}
{%- if not form.admin or session['admin'] %}
<div>
<a id="{{ form.__name__ }}" class="bert-e-anchor"></a>
<div class="row">
  <div class="col-9">
    <h2>{{ form.title|safe }}</h2>
    {{- form.help_text|safe -}}
    {%- if form.doc %}
    <p class="bert-e-doc-ref">
      Documentation:
      <a href="{{ url_for('doc.display', docname='api', _anchor=form.doc, _external=True) }}">
        <span class="font-weight-bold text-monospace">
          /api{{ form.endpoint_cls.rule }} [{{ form.endpoint_cls.method }}]
        </span>
      </a>
    </p>
    {%- endif %}
  </div>
  <div class="col-3">
    {{ render_form(form) }}
    {%- if form_error == form.form_cls.__name__ %}
    <p class="text-danger">Invalid input.</p>
    {%- endif %}
  </div>
</div>
<hr>
{%- endif %}
{%- endfor %}

{%- if not session['admin'] %}
<p class="bert-e-empty-section">Admin level tools are deactivated for this account.</p>
{%- endif %}

{%- endblock %}
