{% extends 'job.html' %}

{% block title %}Rebuild queues{% endblock %}

{% block help -%}
<p>This tool can be used to create a job that will reset all queues and reconstruct them automatically.</p>
<p>When to use this:</p><ul>
<li>When Bert-E reports that queues are out of order,</li>
<li>When it is required to remove a pull request from the queue, before it is merged
to the target development branches. In this case, comment the said pull request
with a <strong>wait</strong> comment to Bert-E, then instruct the robot to rebuild
the queues.</li>
</ul>
<p>This can also be activated via the api client on endpoint <strong>rebuild_queues</strong>.</p>
{%- endblock %}

{% block form -%}
<form action="{{ url_for("management page.display", _external=True) }}" method="post">
    <button type="submit">rebuild queues now</button>
    {{ rebuild_queues_form.csrf_token }}
</form>
{%- endblock %}
